<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{jobcleaner.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{jobcleaner.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/jobcleaners}" class="btn btn-secondary">[[#{jobcleaner.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('jobcleaner')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='jobcleaner', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='jobcleaner', field='runsServiceName', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='jobcleaner', field='jobStatus', type='checkbox')}" />
                <input type="submit" th:value="#{jobcleaner.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
